<form action="/bucketlistgoals/<%=@goal.id%>" method='post'>
    <input type="hidden" name="_method" value="PATCH">
    <label for="goal">Edit Goal</label>
    <input id="goal" type="text" name="goal" value="<%=@goal.goal%>"><br>
    <label for="completed">Completed</label>
    <input id="completed" type="text" name="completed" value="<%=@goal.completed%>"><br>

    <button id="submit" type="submit">Update</button>

</form>