<form action="/bucketlistgoals/<%=@list.id%>" method='post'>
    <input type="hidden" name="_method" value="PATCH">
    <label for="goal">Edit Goal</label>
    <input id="goal" type="text" name="goal" value="<%=@list.goal%>"><br>
    <label for="goal">Edit Description</label>
    <input id="description" type="text" name="description" value="<%=@list.description%>"><br>

    <button id="submit" type="submit" style="padding: 2px;">Update</button>

</form>