<form action="/bucketlistgoals" method="post" style="text-align: center;">
    <label for="goal"> New Goal </label></br>
    <input id="goal" type="text" name="goal" style="margin-bottom: 10px;"></br>
    <label for="description"> Tell more about this Goal! </label></br>
    <textarea id="description" name="description" style="font-family: Sans-Serif; padding: 20px;"></textarea></br>

    <button id="submit" type="submit" style="padding: 2px;"> Submit </button>
    
</form>
