<form action="/bucketlistgoals" method="post">
    <label for="goal">New Goal</label>
    <input id="goal" type="text" name="goal"><br>
    <label for="completed">Completed</label>
    <input id="completed" type="text" name="completed"><br>

    <button id="submit" type="submit">Submit</button>
    
</form>