<h3><%=@list.goal%></h3></br>
<p><%=@list.description%></p>

<form action="<%=@list.id%>" method='post'>
    <input type="hidden" name="_method" value="DELETE">
    <button type="button" style="padding: 2px;"><a href="/bucketlistgoals/<%=@list.id%>/edit" style="text-decoration: none;"> Edit </a></button>
    <button type="submit" value="delete" style="padding: 2px;"> Delete </button>
</form>
