<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2 style="text-align: center;">Bucket List</h2>

    <div class="content">
      
      <p>Welcome to Bucket List where you can create your very own Bucket List.  <a href="/signup" style="text-decoration: none;">Sign Up</a> or <a href="/login" style="text-decoration: none;">Login</a> if you have already signed up!</p>
    </div>

    

  </div>
</div>
