<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Bucket List</h2>

    <div class="content">
      <p>Welcome to Bucket List where you can create your very own Bucket List.  <a href="/signup">Sign Up</a> or <a href="/login">Login</a> if you have already signed up!</p>
    </div>

    

  </div>
</div>
