<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2 style="text-align: center;">Bucket List</h2>

    
      
    <p style="text-align: center;">Welcome to Bucket List where you can create your very own Bucket List.  <a href="/signup" style="text-decoration: none;">Sign Up</a> or <a href="/login" style="text-decoration: none;">Login</a></p>


    

  </div>
</div>
