<form action="/bucketlists/<%=@list.id%>" method='post'>
    <input type="hidden" name="_method" value="PATCH">
    <label for="bucketlistname">Edit Bucketlist Name</label>
    <input id="bucketlistname" type="text" name="bucketlistname" value="<%=@list.bucketlistname%>"><br>

    <button id="submit" type="submit">Update</button>

</form>