<h2>My Bucketlists</h2>

<%@bucketlist.each do |list|%>
    <p><a href="/bucketlists/<%=list.id%>"><%=list.bucketlistname%></a></p>
    <form action="bucketlists/<%=list.id%>" method='post'>
        <input type="hidden" name="method" value="DELETE">
        <button type="button"><a href="/bucketlists/<%=list.id%>/edit"> Edit </a></button>
        <input type="submit" value="delete"></br>
    </form>
<%end%>

<h4><a href="/bucketlists/new">Add Bucket List</a></h4>