<h2>My Bucketlists</h2>

<%@bucketlist.each do |list|%>
    <p><%=list.goal%></p>
    <form action="bucketlists/<%=list.id%>" method='post'>
        <input type="hidden" name="method" value="DELETE">
        <input type="submit" value="delete">
    </form>
    <a href="/bucketlists/<%=list.id%>/Edit Bucketlist Name</a>
<%end%>
