<form action="/bucketlists" method="post">
    <label for="bucketlistname">New Bucketlist </label>
    <input id="bucketlistname" type="text" name="bucketlistname"><br>

    <button id="submit" type="submit">Submit</button>
    
</form>